<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>EducationVeda</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>


  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper  blue-grey darken-4">
        <a href="#!" class="brand-logo center "> <img class="logo-size " src="logo3.png" alt="Education Veda" /></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down ">
          <li><a href="#"> Home</a></li>
          <li><a href="#"> About us</a></li>
          <li><a href="#"> Contact us</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> Login</a></li>
          <li><a  href="#" class="waves-effect waves-light btn register">Register</a></li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#"> Home</a></li>
          <li><a href="#"> About us</a></li>
          <li><a href="#"> Contact us</a></li>
          <li><a href="#"> Blog</a></li>
          <li><a href="#"> Login</a></li>
          <li><a href="#"> Register</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <section class="section front">





    <div class=" center-align">
      <div class="row main-title">
        <h4 class="hide-on-large-only blue-grey-text text-darken-4">Education Veda</h4>
        <h2 class="hide-on-med-and-down  blue-grey-text text-darken-4">Education Veda</h2>
        <h5 class="light grey-text text-lighten-3 ">our small slogan.</h5>
      </div>


      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div >
            <form>

              <div  class="container search-bar"><div class="input-field">
                <input id="search" type="search" required>
                <label for="search"><i class="material-icons">search</i></label>

              </div></div>

            </form>
          </div>
        </div>
      </div>
    </div>


  </section>








  <section class="section owl-scroll">


    <div class="row"><div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item">  <img class="responsive-img" src="owl/1.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/2.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/3.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/4.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/5.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/1.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/2.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/3.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/4.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/5.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/1.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/2.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/3.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/4.jpg" alt="" /> </div>
      <div class="item">  <img class="responsive-img" src="owl/5.jpg" alt="" /> </div>
    </div></div>
  </section>




  <section class="option-menu section">

    <h5 class="hide-on-large-only center-align title">Select Category</h5>
    <h3 class="hide-on-med-and-down center-align title">Select Category</h3>


    <div class="row">
      <div class="col m3 s6 ">
        <div class="container center-align">

          <a href="#">  <img class="responsive-img" src="menu/1.png" alt="School" />
            <div class=" col s12 waves-effect default option-menu-button">
              <h5 class="links" >School</h5>
            </div>
          </a>
        </div>
      </div>

      <div class="col m3 s6 ">
        <div class="container center-align">
          <a  href="#"><img class="responsive-img" src="menu/2.png" alt="School" /><div class=" col s12 waves-effect default option-menu-button">
            <h5 class="links">College</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col m3 s6 ">
      <div class="container center-align ">

        <a  href="#"><img class="responsive-img" src="menu/3.png" alt="School" /> <div class=" col s12 waves-effect default option-menu-button">
          <h5 class="links">Hobby Center</h5>
        </div></a>
      </div>
    </div>

    <div class="col m3 s6 ">
      <div class="container  center-align">

        <a  href="#">
          <img class="responsive-img" src="menu/4.png" alt="School" /><div class=" col s12 waves-effect default option-menu-button">
            <h5 class="links">AWC</h5>
          </div>
        </a>
      </div>
    </div>
  </section>




  <section class="section">
    <h5 class="hide-on-large-only center-align title">How it Works</h5>
    <h3 class="hide-on-med-and-down center-align title">How it Works</h3>

    <div class="container">
      <div class="col s12 m6 offset-m3">
        <ul class="tabs teal-text text-darken-4">
          <li class="tab col s6   center-align"><a  href="#test1">IF YOU LEARN</a></li>
          <li class="tab col s6   center-align"><a class="active" href="#test2">IF YOU TEACH</a></li>
        </ul>
      </div>
    </div>

    <!-- desktop sec #1 -->
    <div id="test1" >
      <div class="col s12 hide-on-med-and-down">
        <div class="row">
          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/2.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/2.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/2.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="hide-on-large-only">
        <div class="row">
          <div class="slider feature">
            <ul class="slides">
              <li>
                <img  src="menu/4.png">

              </li>
              <li>
                <img src="menu/4.png">
              </li>
              <li>
                <img  src="menu/4.png">

              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>




    <!-- desktop sec #2 -->
    <div id="test2" >
      <div class="col s12 hide-on-med-and-down">
        <div class="row">
          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/3.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/3.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

          <div class="col s4">
            <div class="container center-align">
              <img class="responsive-img" src="menu/3.png" alt="School" />
              <div class=" col s12 option-menu-button">
                <h5>Feature</h5>
              </div>
              <p>
                single line description of feature
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="hide-on-large-only">
        <div class="row">
          <div class="slider feature">
            <ul class="slides">
              <li>
                <img  src="menu/1.png">

              </li>
              <li>
                <img src="menu/1.png">
              </li>
              <li>
                <img  src="menu/1.png">

              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>


  </section>

  <section class="people">


    <h5 class="hide-on-large-only center-align title">What People Say</h5>
    <h3 class="hide-on-med-and-down center-align title">What People Say About Us</h3>

    <div class="container">
      <div class="row">

        <div class="col s12 m6 card z-depth-2">
          <div class="col s3 center-align">
            <img class="circle responsive-img" src="people/1.jpg" alt="" />
          </div>
          <div class="col s9 left-align">
            <p>
              Lorem ipsum dolor sit ame onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              John Doe, Anonymous
            </p>
          </div>
        </div>

        <div class="col s12 m6 card z-depth-2">
          <div class="col s3 center-align">
            <img class="circle responsive-img" src="people/1.jpg" alt="" />
          </div>
          <div class="col s9 left-align">
            <p>
              Lorem ipsum dolor sit ame onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              John Doe, Anonymous
            </p>
          </div>
        </div>

        <div class="col s12 m6 card z-depth-2">
          <div class="col s3 center-align">
            <img class="circle responsive-img" src="people/1.jpg" alt="" />
          </div>
          <div class="col s9 left-align">
            <p>
              Lorem ipsum dolor sit ame onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              John Doe, Anonymous
            </p>
          </div>
        </div>

        <div class="col s12 m6 card z-depth-2">
          <div class="col s3 center-align">
            <img class="circle responsive-img" src="people/1.jpg" alt="" />
          </div>
          <div class="col s9 left-align">
            <p>
              Lorem ipsum dolor sit ame onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <p>
              John Doe, Anonymous
            </p>
          </div>
        </div>
      </div>
    </div>






  </section>

  <footer id="foot" class="page-footer blue-grey darken-4 white-text">


    <div class="row ">
      <div class="col s12 m4">
        <h5>Quick Links</h5>
        <ul class="quick">
          <li><a href="#">Blogs</a></li>
          <li>  <a href="#">About Us</a></li>
          <li>  <a href="#">Register</a></li>
          <li>  <a href="#">Feedback</a></li>

        </ul>
      </div>
      <div class="col s12 m4">
        <h5>Contact Info.</h5>
        <p class="left-align">
          +254 723 890 353 <br>
          +254 710 919 335 <br>
          +1812-241-7355 <br>
          info@educationveda.com <br>
          support@educationveda.com
        </p>
      </div>
      <div class="col s12 m4 social">
        <h5>Social Links</h5>
        <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="http://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>

      </div>
    </div>
    <div class="footer-copyright blue-grey darken-3 white-text">
      <div class="row right-align">
        All rights reserved.
      </div>
    </div>

  </footer>

  <!--  Scripts-->
  <script src="js/jquery.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script type="text/javascript" src="js/custom.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.slider').slider({full_width: true});


    var owl = $("#owl-demo");
    owl.owlCarousel({
      items : 10, //10 items above 1000px browser width
      itemsDesktop : [1000,5], //5 items between 1000px and 901px
      itemsDesktopSmall : [900,3], // betweem 900px and 601px
      itemsTablet: [600,2], //2 items between 600 and 0
      itemsMobile : false // itemsMobile disabled - inherit from itemsTablet optio
    });
    owl.trigger('owl.play',1000); //owl.play event accept autoPlay speed as second paramete


  });


  </script>


</body>
</html>
